<%- include('../../includes/head', { pageTitle: 'Success' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('../../includes/header') %>
    <main>
        <h1>Order Successfully Placed...😃</h1>
        <p>You can visit <a href="/orders">Your orders Page</a> for  more details.</p>
    </main>
<%- include('../../includes/footer') %>